/* .card {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover {
  transform: rotateY(180deg);
}
  .front, .back {
    width: 200px;
    height: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
  }
  
  .back {
    transform: rotateY(180deg);
  }
   */



/* 
  .card {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  } */




/* 

  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #evil-button {
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
  } */





  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::selection {
    background: #7d2ae8;
    color: #fff;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #7d2ae8;
}
.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
i {
    font-size: 7.5em;
    color: #7d2ae8;
    border: 5px solid transparent;
    outline: 3px solid #7d2ae8;
    border-radius: 50%;
}
h2 {
    font-size: 3em;
    color: #7d2ae8;
    margin: 15px 0;
}
.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #7d2ae8;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
button:nth-child(1) {
    margin-left: -200px;
    background: #7d2ae8;
}
button:nth-child(2) {
    margin-right: -200px;
    color: #7d2ae8;
}